{% extends 'base.html.twig' %} {% block title %}Details | {{ parent() }}{% endblock %} {% block body %}

<div class="container m-5 pt-5">
  <div class="card h-100">
    <div class="card-body">
      <span class="badge rounded-pill my-3 text-bg-{{ type.color }}">{{ type.name }}</span>

      <h1 class="card-title mb-3">{{ event.name }}</h1>
      {% if manager %}
      <h5 class="mt-4">Contact person</h5>
      <ul class="list-unstyled">
        <li>
          <strong>{{ manager.name }}</strong>
        </li>
        <li>Phone: {{ manager.phone }}</li>
        <li>Email: {{ manager.email }}</li>
      </ul>
      {% endif %} {% if location %}
      <h5 class="mt-4">Location</h5>
      <ul class="list-unstyled">
        <li>
          <strong>{{ location.name }}</strong>
        </li>
        <li>Phone: {{ location.phone }}</li>
        <li>City: {{ location.city }}</li>
        <li>ZIP code: {{ location.zip }}</li>
        <li>Address: {{ location.street }} / {{ location.house }}</li>
        <li><a href="{{ location.url }}">Location's webside</a></li>
      </ul>
      {% endif %}

      <p class="card-text my-3">{{ event.description }}</p>
      <p class="card-text my-3">Capacity: {{ event.capacity }} persones</p>

      <p class="my-1 text-body-secondary">Date: {{ event.date|date('d M Y') }}</p>
      <p class="my-1 text-body-secondary mb-3">Time: {{ event.date|date('H:i') }}</p>

      <small class="card-text"><a href="{{ event.url }}">Event's webside</a></small>

      <div class="btn-group w-100 my-3" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-dark" href="{{ path('app_events') }}#{{ event.id }}">Back to list</a>
        <a class="btn btn-sm btn-outline-dark" href="{{ path('app_edit', { id: event.id }) }}">Edit</a>
        <a class="btn btn-sm btn-outline-danger" href="{{ path('app_delete', { id: event.id }) }}">Delete</a>
      </div>
    </div>

    <img src="{{ event.picture }}" class="card-img-bottom object-fit-cover rounded-bottom asprat" alt="{{ event.name }}" />
  </div>
</div>
{% endblock %}
